<style>
    .rectangle-container {
            position: relative;
            text-align: center;
            height: 200px; /* Adjust the height as needed */
            overflow: hidden;
        }

        .rectangle {
            position: absolute;
            top: 0;
            left: 0;
            width: 300px; /* Adjust the width as needed */
            height: 100%;
        }

        .rectangle img {
            width: 100%;
            height: 100%;
        }
		

        

        .ejeepreser,
        .welcome,
		.admin,
        .dashboard,
        .reservation,
        .account,
        .logout {
            position: absolute;
            width: 100%;
            text-align: center;
			text-decoration: none;
			color: black;
			font-size: 140%;
			
        }

        .ejeepreser {
            top: 5%;
            left: 1px; /* Adjust the left position as needed */
			font-size: 165%;
			
        }

        .welcome {
            top: 6%;
            left: 290px;
			font-size: 200%;
			font-family: arial;
			
        }
		
		.admin {
			top: 7%;
			left: 350%;
			font-size: 120%;
			font-family: arial;
		}
		
        .dashboard {
		position: absolute;
		top: 15%;
		left: 53px;
		display: inline-block; /* Make it inline-block */
		border: 2px solid black;
		background-color: white;
		border-color: #15367E;
		color: #15367E;
		padding: 5px; /* Adjust the padding as needed */
		width: 60%;
}
		

        .reservation {
            top: 25%;
            left: 1px; /* Adjust the left position as needed */
        }

        .account {
            top: 35%;
            left: 1px;
            
        }
        
        .logout {
            top: 90%;
            left: 1px; /* Adjust the left position as needed */
        }
		
		.header-item {
         word-spacing: 170px;
		 margin-left: 30px;
		 margin-top: 6px;
    }
		.reservation-list {
            position: absolute;
            top: 18%;
            right: 1%;
            width: 947px;
			height: 76%;
            padding: 10px;
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            overflow-y: auto;
            max-height: 100vh;
				
        }
</style>
